html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #DAF4F8;
    font-family: 'Oxygen', sans-serif;
}

h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 21px;
}

h3 {
    margin-bottom: -15px;
}

a {
    color: #FAFAFA;
    text-decoration: none;
}

/* links */
li > a, p > a {
    color: #FF0700;
}

/* header */
#header {
    overflow: auto;
    margin: 0 auto;
    background-color: #F4F4F4;
    width: 800px;
}

#header > h1 {
    margin-top: 25px;
    margin-left: 200px;
    margin-bottom: 0px;
    float: left;
}

#header > h1 > a {
    color: black;
}

#header > img {
    height: 100px;
    float: left;
    margin-left: 20px;
}

/* footer */
#footer {
    overflow: auto;
    margin: 0 auto;
    margin-top: 8px;
    background-color: #454545;
    width: 800px;
}

#footer > div > img {
    float: left;
}

#commonlicense {
    padding: 10px;
    padding-left: 15px;
    width: 420px;
    font-size: 12px;
    float: left;
}

#footlinks {
    padding: 10px;
    padding-right: 20px;
    width: 150px;
    float: right;
    text-align: right;
}

.footlink > a {
    color: #FAFAFA;
}

/* navbar */
#navbar {
    background-color: #20A0A6;
    font-family: 'Nunito', sans-serif;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 2px;
    overflow: hidden;
    float: right;
}

#navbar > li {
    float: left;
}

#navbar > li > a {
    display: block;
    width: 150px;
    margin-top: 5px;
    text-align: center;
    color: black;
    text-decoration: none;
}

#footlinks > h1 {
    margin-top: 8px;
    margin-bottom: 2px;
    font-size: 14px;
}

#footlinks > p {
    margin: 1px;
    font-size: 12px;
}

/* content */
#content {
    margin: 0 auto;
    margin-top: 8px;
    width: 800px;
    background-color: #F4F4F4;
    overflow: auto;
}

#content > div {
    padding: 20px;
    padding-left: 85px;
    padding-right: 65px;
}

div > .heading > h2 {
    margin: 5px;
}

div > .heading > h1 {
    margin: 5px;
}

/* 404 page */

#page404 > .subcontent {
    padding-top: 25px;
}

/* heading and subcontent */

.heading {
    background-color: #20A0A6;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.subcontent {
    margin: 0 auto;
    margin-top: -14px;
    padding: 20px;
    padding-top: 7px;
    padding-bottom: 1px;
    background-color: #D4DAE4;
    width: 500px;
}

.subcontent > img {
    max-height: 300px;
    display: block;
    margin: 0 auto;
}

/* related */
#related {
    margin-top: -25px;
}

#related > h3 {
    margin-top: 0px;
}

/* pagination */
.pagination {
    margin-top: 25px;
}
